In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
wego = pd.read_csv("../data/Headway Data, 8-1-2023 to 9-30-2023.csv")

wego.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0

In [3]:
wego.columns

Index(['CALENDAR_ID', 'SERVICE_ABBR', 'ADHERENCE_ID', 'DATE', 'ROUTE_ABBR',
       'BLOCK_ABBR', 'OPERATOR', 'TRIP_ID', 'OVERLOAD_ID',
       'ROUTE_DIRECTION_NAME', 'TIME_POINT_ABBR', 'ROUTE_STOP_SEQUENCE',
       'TRIP_EDGE', 'LATITUDE', 'LONGITUDE', 'SCHEDULED_TIME',
       'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE',
       'SCHEDULED_HDWY', 'ACTUAL_HDWY', 'HDWY_DEV', 'ADJUSTED_EARLY_COUNT',
       'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT', 'STOP_CANCELLED',
       'PREV_SCHED_STOP_CANCELLED', 'IS_RELIEF', 'DWELL_IN_MINS',
       'SCHEDULED_LAYOVER_MINUTES'],
      dtype='object')

DJ: 1. What is the overall on-time performance, and what do the overall distributions of adherence and headway deviation look like?

Jessica: 2. How does direction of travel, route, or location affect the headway and on-time performance?

Haylie: 3. How does time of day or day of week affect headway and on-time performance?

Abraham: 4. How much of a factor does the driver have on headway and on-time performance? The driver is indicated by the OPERATOR variable.

Griffin: 5. Is there any relationship between lateness (ADHERENCE) and headway deviation?

In [4]:
wego.loc[wego['OPERATOR'].isna()]
#check to see if there are NaN values in 'OPERATOR' column

Empty DataFrame
Columns: [CALENDAR_ID, SERVICE_ABBR, ADHERENCE_ID, DATE, ROUTE_ABBR, BLOCK_ABBR, OPERATOR, TRIP_ID, OVERLOAD_ID, ROUTE_DIRECTION_NAME, TIME_POINT_ABBR, ROUTE_STOP_SEQUENCE, TRIP_EDGE, LATITUDE, LONGITUDE, SCHEDULED_TIME, ACTUAL_ARRIVAL_TIME, ACTUAL_DEPARTURE_TIME, ADHERENCE, SCHEDULED_HDWY, ACTUAL_HDWY, HDWY_DEV, ADJUSTED_EARLY_COUNT, ADJUSTED_LATE_COUNT, ADJUSTED_ONTIME_COUNT, STOP_CANCELLED, PREV_SCHED_STOP_CANCELLED, IS_RELIEF, DWELL_IN_MINS, SCHEDULED_LAYOVER_MINUTES]
Index: []

[0 rows x 30 columns]

In [5]:
driver = wego.drop(columns = ['SERVICE_ABBR','ADHERENCE_ID','BLOCK_ABBR','OVERLOAD_ID'])
driver
#drop columns that aren't necessary for the question for cleaner df

,CALENDAR_ID,DATE,ROUTE_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,2023-08-01,22,1040,345104,TO DOWNTOWN,MHSP,14.0,1,36.181248,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,2023-08-01,22,1040,345104,TO DOWNTOWN,ELIZ,10.0,0,36.193454,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,2023-08-01,22,1040,345104,TO DOWNTOWN,CV23,5.0,0,36.182177,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,2023-08-01,22,1040,345104,TO DOWNTOWN,MCC5_10,1.0,2,36.167091,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,2023-08-01,22,1040,345105,FROM DOWNTOWN,MCC5_10,1.0,1,36.167091,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350324,120230930,2023-09-30,7,2312,353448,TO DOWNTOWN,21BK,4.0,0,36.138372,...,35.266666,5.266666,0,1,0,0,0.0,0,0.000000,NaN
350325,120230930,2023-09-30,7,2312,353448,TO DOWNTOWN,MCC5_9,3.0,2,36.167091,...,NaN,NaN,0,1,0,0,NaN,0,0.000000,NaN
350326,120230930,2023-09-30,7,2312,353449,FROM DOWNTOWN,MCC5_9,3.0,1,36.167091,...,31.866666,1.866666,0,0,1,0,0.0,0,0.000000,NaN
350327,120230930,2023-09-30,7,2312,353449,FROM DOWNTOWN,21BK,4.0,0,36.138881,...,47.500000,17.500000,0,1,0,0,0.0,0,0.000000,NaN
350328,120230930,2023-09-30,7,2312,353449,FROM DOWNTOWN,HBHS,5.0,2,36.107575,...,NaN,NaN,0,1,0,0,NaN,0,3.216666,NaN

**Headway** is the amount of time between a bus and the prior bus at the same stop. In the dataset, the amount of headway scheduled is contained in the SCHEDULED_HDWY column and indicates the difference between the scheduled time for a particular stop and the scheduled time for the previous bus on that same stop.

This dataset contains a column HDWY_DEV, which shows the amount of deviation from the scheduled headway. **Bunching** occurs when there is shorter headway than scheduled, which would appear as a negative HDWY_DEV value. **Gapping** is when there is more headway than scheduled and appears as a positive value in the HDWY_DEV column. Note that you can calculate headway deviation percentage as HDWY_DEV/SCHEDULED_HDWY. The generally accepted range of headway deviation is 50% to 150% of the scheduled headway, so if scheduled headway is 10 minutes, a headway deviation of up to 5 minutes would be acceptable (but not ideal).

In [6]:
wego.loc[wego['ACTUAL_HDWY'].isna()]
#finding NaN values in 'ACTUAL_HDWY' column

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350319,120230930,2,100406605,2023-09-30,7,702,2312,353446,0,TO DOWNTOWN,...,NaN,NaN,0,0,0,0,NaN,0,NaN,NaN
350321,120230930,2,100406607,2023-09-30,7,702,2312,353447,0,FROM DOWNTOWN,...,NaN,NaN,0,0,0,0,0.0,0,NaN,NaN
350322,120230930,2,100406608,2023-09-30,7,702,2312,353447,0,FROM DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,0.000000,NaN
350325,120230930,2,100406611,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,0.000000,NaN
350328,120230930,2,100406614,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,3.216666,NaN

In [7]:
wego.loc[wego['HDWY_DEV'].isna()]
##finding NaN values in 'HDWY_DEV' column

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350319,120230930,2,100406605,2023-09-30,7,702,2312,353446,0,TO DOWNTOWN,...,NaN,NaN,0,0,0,0,NaN,0,NaN,NaN
350321,120230930,2,100406607,2023-09-30,7,702,2312,353447,0,FROM DOWNTOWN,...,NaN,NaN,0,0,0,0,0.0,0,NaN,NaN
350322,120230930,2,100406608,2023-09-30,7,702,2312,353447,0,FROM DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,0.000000,NaN
350325,120230930,2,100406611,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,0.000000,NaN
350328,120230930,2,100406614,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,3.216666,NaN

drill down on drivers and their routes (how frequently they drove on different routes, how long were they driving these routes, did they have more than one route per day?)

In [19]:
operator_by_id = wego['OPERATOR'].unique()
operator_by_id
#figure out how many different drivers there are

array([1040, 2374, 2689, 1617, 2427, 1892, 1190, 1222, 2355, 2125, 2649,
       1761, 1893, 2041, 1170, 1823, 1198, 1147,  522, 2603,  409, 2958,
       2088, 2348, 2706, 1368, 3100, 2529, 1237, 1992, 2059, 2441, 1204,
        326, 2306, 2177,  559, 2963, 1948, 2230, 1703, 2569, 2055, 2675,
       2752,  517, 2586, 2623,  907, 1682, 1619, 1133,  659, 1266, 1623,
       1938, 1410, 1705, 1927, 1391, 2629,  304,  357, 2500, 2112, 1505,
       1904, 2577, 1052, 1800, 2253, 1489, 1542, 2624, 2062,  359, 1582,
       2428,  332, 2967, 3016, 2760, 2584, 1206, 2399, 3124, 2109, 1208,
       3012, 1361, 2990, 1650, 1359,  611, 1590, 2832, 2560,  520, 2371,
       1175, 2200, 1352, 2714, 1500, 2817, 3096, 1958, 2458, 1601, 1343,
       1016, 2217, 1866, 2987, 1372, 2792, 1330, 2733, 1713, 1406, 2780,
        471, 2638, 1780, 1177, 2221, 1743, 3144,  572, 2400,  341, 2312,
        778, 2697,  723, 2324, 2164, 2618, 2563, 2809, 2448, 1762, 1401,
       2352,  414, 2497, 2357, 2545, 3088, 3015, 2703,  624, 1566, 2040,
       3103, 1736, 2765, 2610, 3013, 1379, 3127, 2549, 3090, 1730, 3087,
       3035, 2479, 3128, 2954, 1865, 1914, 2793, 2207, 1277, 2505, 1717,
       2783, 1598, 2161, 2001, 2630, 1997, 2585, 2335, 1922, 1716, 1842,
       2246, 2594, 2512, 2600, 3093, 1788, 2972, 2254, 2969, 3079, 2356,
       3101, 1782, 1814, 2590, 1848, 3020, 2530, 2547, 3064, 1792, 2764,
       3099, 2821, 3031, 1824, 3001, 1603, 1251, 2053, 2978, 1389, 2580,
       3102, 2943, 2976, 2762, 2362, 2151, 2127, 1815, 2962, 1419, 2747,
        785, 2531, 2138, 2779, 2751, 1078, 2669, 2440, 2876, 3098, 1838,
       2642, 1797, 1457, 2432, 3122, 2534, 2322, 2368, 1394, 2424, 3027,
       2693, 3129, 2103, 2126, 2102, 2567, 2573,  329, 1867, 2012, 1202,
       2228, 2694,  379, 2546, 2321, 2082, 1377, 1593, 1305,  623, 3134,
       2423, 2033,  653, 2662, 3080, 2435, 3126, 2137, 1763, 3116, 1621,
       3120, 2982, 1606, 2639, 1597, 1984, 2313, 3140, 1524, 1915,  465,
       3142, 2332, 3138,   56, 2459, 3118, 1596, 1362, 1880, 2989,  301,
       2503,  235, 2178, 2493, 2294, 1363,  656,    0, 1673, 1706, 3156,
       1742, 2464, 2784, 3149, 3077, 2338,  244, 2256,  473, 2646, 2309,
       2472, 2094, 3165, 1889, 2494, 1845, 3173, 2377,  375, 3166, 2029],
      dtype=int64)

In [22]:
wego['ROUTE_ABBR'].nunique()
#figure out how many routes are in the dataset

8

In [11]:
driver['HDWY_DEVIATION_PCT'] = driver['HDWY_DEV']/driver['SCHEDULED_HDWY']
driver
#calculate headway deviation pct & add column w results

,CALENDAR_ID,DATE,ROUTE_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,...,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES,HDWY_DEVIATION_PCT
0,120230801,2023-08-01,22,1040,345104,TO DOWNTOWN,MHSP,14.0,1,36.181248,...,NaN,0,0,1,0,0.0,0,6.500000,NaN,NaN
1,120230801,2023-08-01,22,1040,345104,TO DOWNTOWN,ELIZ,10.0,0,36.193454,...,NaN,0,0,1,0,0.0,0,0.000000,NaN,NaN
2,120230801,2023-08-01,22,1040,345104,TO DOWNTOWN,CV23,5.0,0,36.182177,...,NaN,0,0,1,0,0.0,0,0.000000,NaN,NaN
3,120230801,2023-08-01,22,1040,345104,TO DOWNTOWN,MCC5_10,1.0,2,36.167091,...,NaN,0,0,1,0,NaN,0,0.000000,NaN,NaN
4,120230801,2023-08-01,22,1040,345105,FROM DOWNTOWN,MCC5_10,1.0,1,36.167091,...,NaN,0,0,1,0,0.0,0,12.866666,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350324,120230930,2023-09-30,7,2312,353448,TO DOWNTOWN,21BK,4.0,0,36.138372,...,5.266666,0,1,0,0,0.0,0,0.000000,NaN,0.175556
350325,120230930,2023-09-30,7,2312,353448,TO DOWNTOWN,MCC5_9,3.0,2,36.167091,...,NaN,0,1,0,0,NaN,0,0.000000,NaN,NaN
350326,120230930,2023-09-30,7,2312,353449,FROM DOWNTOWN,MCC5_9,3.0,1,36.167091,...,1.866666,0,0,1,0,0.0,0,0.000000,NaN,0.062222
350327,120230930,2023-09-30,7,2312,353449,FROM DOWNTOWN,21BK,4.0,0,36.138881,...,17.500000,0,1,0,0,0.0,0,0.000000,NaN,0.583333
350328,120230930,2023-09-30,7,2312,353449,FROM DOWNTOWN,HBHS,5.0,2,36.107575,...,NaN,0,1,0,0,NaN,0,3.216666,NaN,NaN

try to group by operator and route
run avgs on hdwy deviation
count on ON TIME & ADJ counts 
group by driver and route from above

In [16]:
driver_routes = driver.groupby('OPERATOR')['ROUTE_ABBR'].sum()
driver_routes = driver_routes.reset_index()
driver_routes
#routes per driver

     OPERATOR  ROUTE_ABBR
0           0          23
1          56         168
2         235         276
3         244        1375
4         301        2035
..        ...         ...
336      3149        1540
337      3156        7116
338      3165         736
339      3166        1925
340      3173         484

[341 rows x 2 columns]

In [29]:
avg_hdwy_per_driver = driver.groupby('OPERATOR')['HDWY_DEV'].mean()
avg_hdwy_per_driver = avg_hdwy_per_driver.reset_index()
avg_hdwy_per_driver
#operators and their avg hdwy

     OPERATOR  HDWY_DEV
0           0       NaN
1          56 -0.250000
2         235  1.918518
3         244 -0.037500
4         301  2.832222
..        ...       ...
336      3149  1.434226
337      3156  0.759347
338      3165  5.553472
339      3166 -2.152299
340      3173  1.342857

[341 rows x 2 columns]