In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
wego = pd.read_csv("../data/Headway Data, 8-1-2023 to 9-30-2023.csv")

wego.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0

In [4]:
wego.columns

Index(['CALENDAR_ID', 'SERVICE_ABBR', 'ADHERENCE_ID', 'DATE', 'ROUTE_ABBR',
       'BLOCK_ABBR', 'OPERATOR', 'TRIP_ID', 'OVERLOAD_ID',
       'ROUTE_DIRECTION_NAME', 'TIME_POINT_ABBR', 'ROUTE_STOP_SEQUENCE',
       'TRIP_EDGE', 'LATITUDE', 'LONGITUDE', 'SCHEDULED_TIME',
       'ACTUAL_ARRIVAL_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE',
       'SCHEDULED_HDWY', 'ACTUAL_HDWY', 'HDWY_DEV', 'ADJUSTED_EARLY_COUNT',
       'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT', 'STOP_CANCELLED',
       'PREV_SCHED_STOP_CANCELLED', 'IS_RELIEF', 'DWELL_IN_MINS',
       'SCHEDULED_LAYOVER_MINUTES'],
      dtype='object')

DJ: 1. What is the overall on-time performance, and what do the overall distributions of adherence and headway deviation look like?

Jessica: 2. How does direction of travel, route, or location affect the headway and on-time performance?

Haylie: 3. How does time of day or day of week affect headway and on-time performance?

Abraham: 4. How much of a factor does the driver have on headway and on-time performance? The driver is indicated by the OPERATOR variable.

Griffin: 5. Is there any relationship between lateness (ADHERENCE) and headway deviation?

In [7]:
wego.loc[wego['OPERATOR'].isna()]
#check to see if there are NaN values in 'OPERATOR' column

Empty DataFrame
Columns: [CALENDAR_ID, SERVICE_ABBR, ADHERENCE_ID, DATE, ROUTE_ABBR, BLOCK_ABBR, OPERATOR, TRIP_ID, OVERLOAD_ID, ROUTE_DIRECTION_NAME, TIME_POINT_ABBR, ROUTE_STOP_SEQUENCE, TRIP_EDGE, LATITUDE, LONGITUDE, SCHEDULED_TIME, ACTUAL_ARRIVAL_TIME, ACTUAL_DEPARTURE_TIME, ADHERENCE, SCHEDULED_HDWY, ACTUAL_HDWY, HDWY_DEV, ADJUSTED_EARLY_COUNT, ADJUSTED_LATE_COUNT, ADJUSTED_ONTIME_COUNT, STOP_CANCELLED, PREV_SCHED_STOP_CANCELLED, IS_RELIEF, DWELL_IN_MINS, SCHEDULED_LAYOVER_MINUTES]
Index: []

[0 rows x 30 columns]

In [9]:
driver = wego.drop(columns = ['SERVICE_ABBR','ADHERENCE_ID','BLOCK_ABBR','OVERLOAD_ID'])
driver
#drop columns that aren't necessary for the question for cleaner df

,CALENDAR_ID,DATE,ROUTE_ABBR,OPERATOR,TRIP_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,2023-08-01,22,1040,345104,TO DOWNTOWN,MHSP,14.0,1,36.181248,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,2023-08-01,22,1040,345104,TO DOWNTOWN,ELIZ,10.0,0,36.193454,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,2023-08-01,22,1040,345104,TO DOWNTOWN,CV23,5.0,0,36.182177,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,2023-08-01,22,1040,345104,TO DOWNTOWN,MCC5_10,1.0,2,36.167091,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,2023-08-01,22,1040,345105,FROM DOWNTOWN,MCC5_10,1.0,1,36.167091,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350324,120230930,2023-09-30,7,2312,353448,TO DOWNTOWN,21BK,4.0,0,36.138372,...,35.266666,5.266666,0,1,0,0,0.0,0,0.000000,NaN
350325,120230930,2023-09-30,7,2312,353448,TO DOWNTOWN,MCC5_9,3.0,2,36.167091,...,NaN,NaN,0,1,0,0,NaN,0,0.000000,NaN
350326,120230930,2023-09-30,7,2312,353449,FROM DOWNTOWN,MCC5_9,3.0,1,36.167091,...,31.866666,1.866666,0,0,1,0,0.0,0,0.000000,NaN
350327,120230930,2023-09-30,7,2312,353449,FROM DOWNTOWN,21BK,4.0,0,36.138881,...,47.500000,17.500000,0,1,0,0,0.0,0,0.000000,NaN
350328,120230930,2023-09-30,7,2312,353449,FROM DOWNTOWN,HBHS,5.0,2,36.107575,...,NaN,NaN,0,1,0,0,NaN,0,3.216666,NaN

**Headway** is the amount of time between a bus and the prior bus at the same stop. In the dataset, the amount of headway scheduled is contained in the SCHEDULED_HDWY column and indicates the difference between the scheduled time for a particular stop and the scheduled time for the previous bus on that same stop.

This dataset contains a column HDWY_DEV, which shows the amount of deviation from the scheduled headway. **Bunching** occurs when there is shorter headway than scheduled, which would appear as a negative HDWY_DEV value. **Gapping** is when there is more headway than scheduled and appears as a positive value in the HDWY_DEV column. Note that you can calculate headway deviation percentage as HDWY_DEV/SCHEDULED_HDWY. The generally accepted range of headway deviation is 50% to 150% of the scheduled headway, so if scheduled headway is 10 minutes, a headway deviation of up to 5 minutes would be acceptable (but not ideal).

In [15]:
wego.loc[wego['ACTUAL_HDWY'].isna()]
#finding NaN values in 'ACTUAL_HDWY' column

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350319,120230930,2,100406605,2023-09-30,7,702,2312,353446,0,TO DOWNTOWN,...,NaN,NaN,0,0,0,0,NaN,0,NaN,NaN
350321,120230930,2,100406607,2023-09-30,7,702,2312,353447,0,FROM DOWNTOWN,...,NaN,NaN,0,0,0,0,0.0,0,NaN,NaN
350322,120230930,2,100406608,2023-09-30,7,702,2312,353447,0,FROM DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,0.000000,NaN
350325,120230930,2,100406611,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,0.000000,NaN
350328,120230930,2,100406614,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,3.216666,NaN

In [16]:
wego.loc[wego['HDWY_DEV'].isna()]
##finding NaN values in 'HDWY_DEV' column

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350319,120230930,2,100406605,2023-09-30,7,702,2312,353446,0,TO DOWNTOWN,...,NaN,NaN,0,0,0,0,NaN,0,NaN,NaN
350321,120230930,2,100406607,2023-09-30,7,702,2312,353447,0,FROM DOWNTOWN,...,NaN,NaN,0,0,0,0,0.0,0,NaN,NaN
350322,120230930,2,100406608,2023-09-30,7,702,2312,353447,0,FROM DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,0.000000,NaN
350325,120230930,2,100406611,2023-09-30,7,702,2312,353448,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,0.000000,NaN
350328,120230930,2,100406614,2023-09-30,7,702,2312,353449,0,FROM DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,3.216666,NaN

drill down on drivers and their routes (how frequently they drove on different routes, how long were they driving these routes, did they have more than one route per day?)