In [3]:
import pandas as pd

In [5]:
wego = pd.read_csv("../data/Headway Data, 8-1-2023 to 9-30-2023.csv")

wego.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,DWELL_IN_MINS,SCHEDULED_LAYOVER_MINUTES
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,6.500000,NaN
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,0.000000,NaN
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,0.000000,NaN
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,12.866666,5.0

In [7]:
wego.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350329 entries, 0 to 350328
Data columns (total 30 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CALENDAR_ID                350329 non-null  int64
 1   SERVICE_ABBR               350329 non-null  int64
 2   ADHERENCE_ID               350329 non-null  int64
 3   DATE                       350329 non-null  object
 4   ROUTE_ABBR                 350329 non-null  int64
 5   BLOCK_ABBR                 350329 non-null  int64
 6   OPERATOR                   350329 non-null  int64
 7   TRIP_ID                    350329 non-null  int64
 8   OVERLOAD_ID                350329 non-null  int64
 9   ROUTE_DIRECTION_NAME       350329 non-null  object
 10  TIME_POINT_ABBR            350329 non-null  object
 11  ROUTE_STOP_SEQUENCE        350318 non-null  float64
 12  TRIP_EDGE                  350329 non-null  int64
 13  LATITUDE                   350329 non-null  float64
 14  LONGITUDE                  350329 non-null  float64
 15  SCHEDULED_TIME             350329 non-null  object
 16  ACTUAL_ARRIVAL_TIME        338870 non-null  object
 17  ACTUAL_DEPARTURE_TIME      338861 non-null  object
 18  ADHERENCE                  338861 non-null  float64
 19  SCHEDULED_HDWY             274738 non-null  float64
 20  ACTUAL_HDWY                266062 non-null  float64
 21  HDWY_DEV                   265893 non-null  float64
 22  ADJUSTED_EARLY_COUNT       350329 non-null  int64
 23  ADJUSTED_LATE_COUNT        350329 non-null  int64
 24  ADJUSTED_ONTIME_COUNT      350329 non-null  int64
 25  STOP_CANCELLED             350329 non-null  int64
 26  PREV_SCHED_STOP_CANCELLED  280000 non-null  float64
 27  IS_RELIEF                  350329 non-null  int64
 28  DWELL_IN_MINS              338858 non-null  float64
 29  SCHEDULED_LAYOVER_MINUTES  53102 non-null   float64
dtypes: float64(10), int64(14), object(6)
memory usage: 80.2+ MB

In [9]:
wego['ADHERENCE'].max()

88.383333

In [11]:
wego['ADHERENCE'].min()

-948.533333

In [65]:
wego.groupby('ROUTE_ABBR').mean('ADHERENCE', 'SCHEDULED_HDWY')[['ADHERENCE', 'SCHEDULED_HDWY', 'ACTUAL_HDWY']]

            ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY
ROUTE_ABBR
3           -3.761491       19.523403    20.133135
7           -3.346555       22.785186    23.161475
22          -1.138107       29.992722    30.600886
23          -1.760110       18.373912    19.275453
50          -2.505022       19.528756    19.753606
52          -3.971342       19.980827    20.849976
55          -4.823302       13.581157    13.858523
56          -2.703988       13.983759    14.158662

In [63]:
wego['ACTUAL_HDWY'].max()

590.433333

In [37]:
wego['ACTUAL_HDWY'].min()

0.0

In [41]:
wego['ACTUAL_HDWY'].mean()

18.648561468875673

In [71]:
wego.groupby('ROUTE_ABBR').count()[['TRIP_ID']]

            TRIP_ID
ROUTE_ABBR
3             47162
7             18026
22            25959
23            42108
50            43291
52            51819
55            61944
56            60020

#### 4. How does time of day or day of week affect headway and on-time performance?

In [77]:
mean = wego.groupby('SERVICE_ABBR').mean('ADHERENCE')[['ADHERENCE', 'SCHEDULED_HDWY', 'ACTUAL_HDWY']]

In [79]:
mean

              ADHERENCE  SCHEDULED_HDWY  ACTUAL_HDWY
SERVICE_ABBR
1             -3.215421       16.407707    16.801986
2             -3.584496       25.150814    25.777915
3             -2.513130       25.302967    26.198863